#section-intro {
  color: white;
  //background: #02000C;
  //background: #232526; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  background-image: linear-gradient(-20deg, #4e4376 0%, #2b5876 100%);
  //background-image: linear-gradient(-20deg, #97C1E5 0%, #97C1E5 100%);
  //background-image: linear-gradient(to right, black 0%, #434343 100%);
}

#particles-intro-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-title {
  text-transform: uppercase;
  span {
    display: block;
  }
  .small-title {
    font-size: 3rem;
    font-weight: 400;
  }
  .medium-title {
    font-size: 3rem;
    font-weight: 400;
  }
  .big-title {
    font-size: 6rem;
    font-weight: 700;
  }
}

.intro-subtitle {
  font-size: 20px;
  font-weight: 300;
}

.intro-video {
  padding-top: 40px;
  img {
    max-width: 100%;
  }
}

.scroll-to-start {
  position: relative;
}

.scroll-to-start-icon {
  position: absolute;
  border: 1px solid #fff;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-clip: padding-box;
  box-sizing: border-box;
  display: flex;
  height: 34px;
  justify-content: center;
  width: 20px;
  bottom: -100px;
  left: 50%;
  div {
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll-animation;
    animation-name: scroll-animation;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    height: 4px;
    margin-top: 5px;
    width: 4px;
  }
}
