// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "extras";
@import "intro";

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.fp-prev, .fp-next {
  display: none !important;
  background: green;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: rgba(255, 255, 255, .5);
}

#fp-nav.light ul li a span, .fp-slidesNav ul li a span {
  background: rgba(0, 0, 0, .5);
}

#fp-nav ul li .fp-tooltip {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgba(0, 0, 0, .5);
  padding: 3px 10px;
  font-size: .8rem;
}

#section-crowdfunding {
  //background: red;
}

/**
* Responsive
 */

@include media-breakpoint-down(sm) {
  .home-title {
    text-transform: uppercase;
    span {
      display: block;
    }
    .small-title {
      font-size: 2rem;
      font-weight: 100;
    }
    .medium-title {
      font-size: .95em;
      font-weight: 400;
    }
    .big-title {
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}
